/*Common styles*/
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
    *{
        overflow-x: hidden;
    }
    body{
        font-family: 'Roboto', sans-serif;
        width: 100vw !important;

    }
    #navbar{
        background-color: #000;
    }
    #navbar a:hover{
        color: rgba(243, 146, 0);
    }
    #navbar .navbar-brand{
        font-size: 15px;
    }
    .nav-link{
        font-size: 15px;
    }
    footer{
        background-color: rgba(243, 146, 0);
    }
    footer i:hover, footer a:hover{
        color: rgba(243, 146, 0) !important;
    }

/*Index*/
    #bodyIndex{
        background-color: #000;
    }
    #indexHero{
        background-image: url('../assets/img/aaa.jpg');
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .indexHero__caption {
        border: 1px solid #fff;

        animation-name: fromRight;
        animation-timing-function: cubic-bezier(0.12, 0, 0.39, 0);
        animation-delay: 0.14s;
        animation-duration: 1.54s;
        animation-iteration-count: 1;
    }
    .indexHero__caption a {
    font-size: 15px;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 200;
    }
    .indexHero__caption a:hover {
        font-size: 15px;
        border: 1px solid rgba(243, 146, 0);
        background-color: rgba(243, 146, 0);
        color: #fff;
    }
    .indexHero__caption h5{
        color:rgba(148, 148, 148, 0.7);
        font-weight: 200;
    }
    #customers{
        background-color: #000;
    }
    #customers i{
        color: rgba(243, 146, 0);
    }
    .customers__logo{
       height: 80px;
    }
    .customers__logo--rectangle{
        height: 80px;
    }

/*Services*/
    #servicesMain{
        background-color: #000;
    }
    #servicesMain i{
        color: rgba(243, 146, 0);
    }
    .services__title{
        color: #fff;
    }
    .services__item{
        color: #fff;
        padding-top: 25px;
        font-size: 20px;
        font-weight: 200;
    }
    .services__btn, .contact__btn{
        font-size: 16px;
    }
    .services__btn:hover, .contact__btn:hover{
        border: 1px solid rgba(243, 146, 0);
        background-color: rgba(243, 146, 0);
        color: #fff;
    }
    .services__title--separator{
        color: rgba(243, 146, 0);
    }

/*Gallery*/
    #bodyGallery{
        background-color: #000;
    }
    #gallery .row{
        margin-top: 120px;
    }
    #gallery img:hover{
        transform: scale(1.2)
    }

/*About*/
    #aboutBody{
        background-color: #000;
    }
    #about i{
        color: rgba(243, 146, 0);
    }
    .about__title{
        color: #fff;
    }
    .about__img{
        border: 1px solid #fff;
    }
    .about__text{
        color: #fff;
        line-height: 30px;
        font-size: 18px;
    }
/*Contact*/
    #bodyContact{
        background-color: #000;
    }
    .form__title{
        color: #fff;
    }
    #contact i{
        color: rgba(243, 146, 0);
    }

    /*Animaciones*/
    @keyframes fromRight {
        from { opacity: 0; transform: translateX(20px); }
        to { opacity: 1; transform: translateX(0px); }
    }